#bar-one {
    background-color: red;
}
#library {
    font-size: 50px;
}
#w {
    margin: 0px 0px 0px -73px;
}
#w1 {
    margin: 0px 0px 0px -50px;
}
#as {
    position: relative;
    top: 50px;
}
#image-o {
    height: 150px;
}
#radius-1 {
    border-radius: 100% 100% 100% 100%;
    height: 150px;
    width: 100px;
}
.G-image {
    margin-right: 12px;
}
#row-a {
    position: relative;
    left: 75px;
}

#row-b {
    position: relative;
    left: 300px;
}
#nav-a {
    color:red;
}
#center-image {
    margin-left: 500px;
}